* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  overflow-x: hidden;
}

a {
  color: black;
  text-decoration: none;
}

.grid {
  display: flex;
  flex-direction: row;
  width: 1539px;
}

/*NAVBAR*/
.navbar-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbar-section .grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-box {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 33%;
}

.empty {
  height: 50px;
  width: 33%;
}

.navbar-upper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 1539px;
  margin: 25px 0 10px 0;
}

.navbar-icons {
  margin-right: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 33%;
}

.icon-client {
  margin: 0 20px 0 0px;
  padding-left: 50px;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}

.search-input {
  height: 45px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  width: 200px;
  color: #999999;
  transition: transform 0.3s, all 0.3s ease;
}

.search-input::placeholder {
  color: #999999;
}

.search-input:focus {
  outline: none;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search-text {
  display: none;
  width: 200px;
}

.search:hover .search-input {
  transition: transform 0.3s, all 0.3s ease;
}

.search img {
  height: 27px;
  width: 27px;
  position: relative;
  right: 27px;
}

@media screen and (max-width: 1530px) {
  .navbar-icons {
    position: absolute;
    right: 5px;
    z-index: 60;
  }

  .search-input {
    width: 200px;
    background: transparent;
  }

  .empty {
    display: none;
  }
}

@media screen and (max-width: 1050px) {
  .navbar-icons {
    transform: scale(.8);
    position: absolute;
    right: -75px;
    margin-bottom: 30px;
    width: 500px;
  }

  .logo-box {
    transform: scale(.8);
  }
}

@media screen and (max-width: 910px) {
  .navbar-icons {
    transform: scale(.7);
    margin-bottom: -25px;
  }

  .logo-box {
    transform: scale(.7);
    position: absolute;
    left: -25px;
    top: 10px;
  }

  .navbar-upper {
    height: 25px;
  }
}

@media screen and (max-width: 490px) {
  .logo-box {
    left: 0px;
    top: 10px;
  }

  .navbar-icons {
    right: -90px;
  }
}

@media screen and (max-width: 370px) {
  .logo-box {
    left: 0px;
    top: 25px;
  }

  .navbar-icons {
    right: -100px;
  }

  .icon-client {
    margin: 0 10px 0 0px;
    padding-left: 25px;
  }

  .search-input {
    width: 125px;
  }

  .search-text {
    width: 125px;
  }
}

/*MENU*/
.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 1539px;
  margin: 15px 0;
}

.menu-elements {
  display: flex;
  flex-direction: row;
}

.menu-elements li {
  list-style: none;
  text-align: center;
  padding: 10px 5px;
}

.menu-elements a {
  padding: 25px 15px;
  font-weight: 700;
  font-size: 16px;
}

.menu-elements a::after {
  content: "\62";
  display: block;
  float: right;
  font-family: "icube-font";
  position: relative;
  top: 2px;
  right: 17px;
}

.menu-elements a:hover::after {
  color: #d91f50;
}

.dropdown-content a::after {
  content: "\64";
  left: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 25px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  width: 1539px;
  box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 2px 16px 2px 16px;
  text-decoration: none;
  display: block;
}

.elements a:hover {
  cursor: pointer;
}

.elements:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {}

.mobile-menu {
  display: none;
}

.dropdown-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: 0;
}

.dropdown-box-header h3 {
  font-size: 16px;
}

.dropdown-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 486px;
  margin: 20px 20px;
}

.dropdown-box a {
  font-weight: 300;
}

.dropdown-box a::after {
  display: none;
}

.dropdown-box a:hover {
  color: #d91f50;
}

.box-mid {
  border-right: 1px solid rgba(0, 0, 0, 0.07);
  border-left: 1px solid rgba(0, 0, 0, 0.07);
}

@media screen and (max-width: 1538px) {
  .dropdown-content {
    width: 100%;
  }
}

@media screen and (max-width: 1050px) {
  .navbar-section {
    height: 100px;
  }

  .menu-elements {
    display: none;
  }

  .menu {
    margin: 0;
  }

  .mobile-menu {
    display: flex;
    position: relative;
  }

  .mobile-menu-button {
    margin: 15px 0;
    margin-left: 5px;
  }

  .mobile-menu-button a {
    font-size: 28px;
    padding: 25px 15px;
    font-weight: 700;
  }

  .mobile-menu-button a::after {
    content: "\e02e";
    font-weight: 300;
    color: rgba(0, 0, 0, 0.8);
    display: block;
    float: right;
    font-family: "icube-font";
    position: relative;
    top: 2px;
    right: 17px;
  }

  .mobile-menu-button a:hover::after {
    color: #d91f50;
  }

  .mobile-menu li {
    list-style: none;
  }

  .mobile-dropdown-content {
    position: relative;
    right: 160px;
    text-align: center;
  }

  .mobile-dropdown-elements {
    display: none;
    position: absolute;
    margin-top: 100px;
    background-color: #fff;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .mobile-dropdown-elements a {
    padding: 10px 15px;
    font-weight: 700;
    font-size: 16px;
  }

  .mobile-dropdown-elements a:hover {
    color: #d91f50;
  }

  .mobile-dropdown-elements li {
    padding: 15px 0;
  }

  .mobile-dropdown-elements li:hover::after {
    color: #d91f50;
  }

  .mobile-dropdown-elements .no-link::after {
    display: none;
  }

  .dropright-content {
    display: block;
    position: absolute;
    margin-top: -35px;
    background-color: #fff;
    min-width: 120px;
    box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropright-content {
    display: none;
    position: absolute;
    left: 180px;
  }

  .mobile-dropdown-elements li:active .dropright-content {
    display: block;
  }
}

@media screen and (max-width: 420px) {
  .mobile-dropdown-elements {
    min-width: 160px;
  }
}

/*WELCOME SLIDER SECTIN*/
.welcome-slider-section, .welcome-slider-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.welcome-slider-section .grid {
  display: flex;
  justify-content: center;
}

.welcome-slider-content {
  height: 700px;
  width: 1539px;
  background-color: black;
}

.welcome-slider-content .slick-list {
  margin: 0 0;
}

.bialetti-ad {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 55;
  text-align: center;
  width: 700px;
  position: relative;
  top: 200px;
}

.bialetti-logo {
  margin-left: 25px;
  z-index: 61;
}

.bialetti-header h3 {
  font-size: 26px;
  font-weight: 400;
  margin: 20px 0 35px 0;
  z-index: 61;
}

.coffee-machine-box {
  margin-right: 50px;
  z-index: 61;
}

.coffee-machines {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  left: 225px;
}

.tree {
  position: relative;
  bottom: 275px;
  right: 300px;
  z-index: 60;
}

.welcome-slide-1 {
  background: url(../images/welcome-slider/welcome-slide-1.png) no-repeat center 55%;
  width: 1539px;
  height: 700px;
  background-color: white;
}

.welcome-slide-2 {
  background: url(../images/welcome-slider/welcome-slide-2.png) no-repeat center 55%;
  width: 1539px;
  height: 700px;
  background-color: white;
  background-size: cover;
}

.welcome-slide-3 {
  background: url(../images/welcome-slider/welcome-slide-3.png) no-repeat center 25%;
  width: 1539px;
  height: 700px;
  background-color: white;
  background-size: cover;
}

.slides:focus, .product-box:focus {
  outline: none;
}

@media screen and (max-width: 1300px) {
  .slides {
    background-size: cover;
    height: 500px;
  }

  .welcome-slider-content {
    height: 500px;
  }

  .bialetti-ad {
    top: 40px;
    left: 50px;
    transform: scale(.8);
  }

  .welcome-slide-3 {
    background-position: center 45%;
  }
}

@media screen and (max-width: 1100px) {
  .slides {
    background-size: cover;
    height: 400px;
  }

  .welcome-slider-content {
    height: 400px;
  }

  .bialetti-ad {
    top: 0;
    left: 100px;
    transform: scale(.7);
  }
}

@media screen and (max-width: 950px) {
  .slides {
    background-size: cover;
    height: 350px;
  }

  .welcome-slider-content {
    height: 350px;
  }

  .bialetti-ad {
    top: -50px;
    left: 150px;
    transform: scale(.5);
  }
}

@media screen and (max-width: 950px) {
  .slides {
    background-size: contain;
    height: 300px;
  }

  .welcome-slider-content {
    height: 300px;
  }

  .bialetti-ad {
    display: none;
  }

  .welcome-slide-2, .welcome-slide-3 {
    background-size: cover;
  }
}

@media screen and (max-width: 500px) {
  .welcome-slide-1 {
    background-size: contain;
    background-position: 40% center;
    height: 300px;
  }

  .welcome-slide-2, .welcome-slide-3 {
    background-size: contain;
  }
}

/*RECOMMENDED SECTION with SLIDER*/
.recommended-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.recommended-section .grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(164, 164, 164, 0.3);
}

.recommended-header {
  text-align: center;
  margin: 50px 0;
}

.recommended-header h3 {
  font-size: 24px;
  margin-bottom: 8px;
}

.recommended-header p {
  font-size: 14px;
  font-weight: 500;
}

.recommended-slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1539px;
  margin-bottom: 50px;
}

.product-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 223px;
  height: auto;
  margin: 0 20px;
}

.coffee-slider-box .buttons {
  position: relative;
  bottom: 30px;
}

.product-box:focus .product-desc {
  opacity: 0;
  transition: transform 0.3s, all 0.3s ease;
}

.product-box:focus .add-to-cart {
  display: block;
  transform: translateY(-50px);
  opacity: 1;
  transition: transform 0.3s, all 0.3s ease;
}

.add-to-cart h3 {
  font-size: 16px;
  padding: 5px 5px;
}

.add-to-cart {
  transform: translateY(50px);
  text-align: center;
  border: 1px solid rgb(204, 204, 204);
  position: relative;
  display: block;
  opacity: 0;
  transition: transform 0.3s, all 0.3s ease;
}

.add-to-cart:hover {
  background-color: black;
  color: white;
  transition: transform 0.3s, all 0.3s ease;
}

.product-box:hover {
  cursor: pointer;
}

.slick-list {
  margin: 0 -20px;
}

.img-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 223px;
  width: 223px;
  border: 1px solid rgb(204, 204, 204);
}

.product-desc .header {
  font-size: 14px;
  font-weight: 700;
  margin: 10px 0;
}

.product-desc {
  width: 223px;
  height: 73px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  opacity: 1;
  transition: transform 0.3s, all 0.3s ease;
}

.product-desc .price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.product-desc .price .old-price {
  color: #818181;
  font-size: 13px;
  text-decoration: line-through;
  margin-right: 5px;
}

.product-desc .price .new-price {
  color: #d91f50;
  font-size: 16px;
  text-decoration: none;
  font-weight: 700;
  margin-left: 5px;
}

.product-desc .price .normal-price {
  color: #d91f50;
  font-size: 16px;
  text-decoration: none;
  font-weight: 700;
}

.prev {
  display: block;
}

.prev::before {
  color: rgb(164, 164, 164);
  content: "\63";
  font-family: "icube-font";
  font-size: 30px;
}

.prev:hover::before {
  cursor: pointer;
  color: #2f2f2f;
}

.next {
  display: block;
}

.next::before {
  color: rgba(164, 164, 164, 1);
  content: "\64";
  font-family: "icube-font";
  font-size: 30px;
}

.next:hover::before {
  cursor: pointer;
  color: #2f2f2f;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85px;
  margin-bottom: 15px;
}

@media screen and (max-width: 600px) {
  .product-desc .header {
    font-size: 13px;
    font-weight: 700;
    margin: 10px 0 0px 0;
  }

  .product-desc {
    width: 220px;
  }

  .product-desc .price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 10px;
  }

  .product-desc .price .old-price {
    color: #818181;
    font-size: 11px;
    text-decoration: line-through;
    margin-right: 5px;
  }

  .product-desc .price .new-price {
    color: #d91f50;
    font-size: 13px;
    text-decoration: none;
    font-weight: 700;
    margin-left: 5px;
  }

  .add-to-cart {
    transform: translateY(0);
    opacity: 1;
  }

  .add-to-cart h3 {
    font-size: 12px;
    padding: 3px 5px;
  }

  .buttons {
    margin-top: 5px;
  }
}

@media screen and (max-width: 1550px) {
  .recommended-section .grid {
    width: auto;
    justify-content: center;
  }

  .recommended-slider {
    width: 1275px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 1300px) {
  .recommended-slider {
    width: 1012px;
  }

  .recommended-header {
    margin: 35px 0;
  }

  .banners-section {
    margin: 25px 0 !important;
  }
}

@media screen and (max-width: 600px) {
  .add-to-cart {
    transform: translateY(50px);
  }
}

@media screen and (max-width: 775px) {
  .recommended-slider {
    width: 486px;
  }
}

@media screen and (max-width: 520px) {
  .recommended-slider {
    width: 223px;
  }
}

/*BANNERS*/
.banners-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px 0;
}

.banners-section .grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.banner-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 750px;
  height: 337px;
}

.banner1 {
  background: url(../images/banner-1-bg.png) no-repeat 1% center;
  background-color: rgb(45, 45, 45);
}

.banner2 {
  background: url(../images/banner-2-bg.png) no-repeat center center;
  background-size: cover;
}

@media screen and (max-width: 1550px) {
  .banners-section .grid {
    justify-content: center;
    width: auto;
  }

  .banner-box {
    width: 600px;
    margin: 25px;
    background-position: 50%;
  }
}

@media screen and (max-width: 1250px) {
  .banner-box {
    width: 475px;
    height: 225px;
    background-color: #fff;
    background-size: cover;
  }
}

@media screen and (max-width: 1050px) {
  .banners-section .grid {
    flex-wrap: nowrap;
    justify-content: center;
    width: auto;
  }

  .banner-box {
    width: 500px;
    height: 225px;
    background-size: cover;
  }
}

@media screen and (max-width: 950px) {
  .banners-section .grid {
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
  }

  .banner-box {
    width: 625px;
    height: 325px;
    background-size: cover;
  }
}

@media screen and (max-width: 800px) {
  .banner-box {
    height: 300px;
    width: 600px;
  }
}

@media screen and (max-width: 565px) {
  .banner-box {
    height: 225px;
    width: 475px;
    margin: 10px 0;
  }
}

@media screen and (max-width: 460px) {
  .banner-box {
    height: 175px;
    width: 375px;
    margin: 10px 0;
  }
}

@media screen and (max-width: 370px) {
  .banner-box {
    height: 125px;
    width: 325px;
    margin: 10px 0;
  }
}

/*DOUBLE SLIDER SECTION*/
.double-slider-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.double-slider-section .grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.slider-left-box, .slider-right-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 750px;
  margin: 10px 0;
  border-bottom: 1px solid rgba(164, 164, 164, 0.3);
}

.slider-content {
  width: 750px;
  margin-bottom: 60px;
}

.slider-header {
  text-align: center;
  margin: 10px 0;
}

.slider-header h3 {
  margin-bottom: 5px;
  font-size: 24px;
}

.slider-header p {
  font-size: 14px;
  margin-bottom: 25px;
  width: 280px;
}

.left-slider, .right-slider {
  display: flex;
  flex-direction: row;
}

.left-prev, .right-prev, .coffee-prev, .tea-prev {
  display: block;
}

.left-prev::before, .right-prev::before {
  color: rgb(164, 164, 164);
  content: "\63";
  font-family: "icube-font";
  font-size: 30px;
}

.left-prev:hover::before, .right-prev:hover::before {
  cursor: pointer;
  color: #2f2f2f;
}

.left-next, .right-next, .coffee-next, .tea-next {
  display: block;
}

.left-next::before, .right-next::before {
  color: rgba(164, 164, 164, 1);
  content: "\64";
  font-family: "icube-font";
  font-size: 30px;
}

.left-next:hover::before, .right-next:hover::before {
  cursor: pointer;
  color: #2f2f2f;
}

.double-slider-section .buttons, .coffee-section .buttons {
  margin-top: 30px;
}

@media screen and (max-width: 1550px) {
  .double-slider-section .grid {
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
  }

  .slider-left-box .slider-content, .slider-right-box .slider-content {
    width: 1275px;
  }

  .slider-left-box, .slider-right-box {
    border-bottom: 0;
  }

  .slick-prev {
    left: 46%;
  }

  .slick-next {
    right: 46%;
  }
}

@media screen and (max-width: 1300px) {
  .slider-left-box .slider-content, .slider-right-box .slider-content {
    width: 1012px;
  }
}

@media screen and (max-width: 1010px) {
  .slider-left-box .slider-content, .slider-right-box .slider-content {
    width: 800px;
  }

  .recommended-slider {
    width: 800px;
  }
}

@media screen and (max-width: 785px) {
  .slider-left-box .slider-content, .slider-right-box .slider-content {
    width: 486px;
  }

  .recommended-slider {
    width: 486px;
  }

  .slick-prev {
    left: 45%;
  }

  .slick-next {
    right: 45%;
  }
}

@media screen and (max-width: 520px) {
  .slider-left-box .slider-content, .slider-right-box .slider-content {
    width: 263px;
  }

  .slick-prev {
    left: 35%;
  }

  .slick-next {
    right: 35%;
  }

  .recommended-slider {
    width: 223px;
  }
}

/*COMAPNIES SECTION*/
.companies-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.companies-section .grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.companies-header {
  text-align: center;
  margin: 25px 0;
}

.companies-header h3 {
  margin-bottom: 5px;
  font-size: 24px;
}

.companies-header p {
  font-size: 14px;
}

.companies-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px 0;
}

.company {
  width: 263px;
  height: 110px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgba(164, 164, 164, 0.3);
}

.company1, .company7, .company6, .company12 {
  width: 243px;
}

.company6, .company12 {
  border-right: 0;
}

.companies-content .firstrow {
  border-bottom: 1px solid rgba(164, 164, 164, 0.3);
}

@media screen and (max-width: 1550px) {
  .companies-section {
    transform: scale(.9);
  }

  .companies-section .grid {
    margin: 0;
  }
}

@media screen and (max-width: 1420px) {
  .companies-section {
    transform: scale(.8);
  }
}

@media screen and (max-width: 1250px) {
  .companies-section {
    transform: scale(.7);
  }
}

@media screen and (max-width: 1075px) {
  .companies-section {
    transform: scale(.6);
  }

  .companies-section .grid {
    height: 300px;
  }

  .companies-header {
    transform: scale(1.3);
  }

}

@media screen and (max-width: 950px) {
  .companies-section {
    transform: scale(.5);
  }

  .companies-section .grid {
    height: 275px;
  }
}

@media screen and (max-width: 785px) {
  .companies-section {
    transform: scale(.8);
  }

  .companies-wrap {
    display: flex;
    flex-direction: row;
    width: 1617px;
    justify-content: center;
  }

  .companies-header {
    margin-top: 50px;
  }

  .companies-section .grid {
    width: auto;
    height: 740px;
    flex-wrap: nowrap;
  }

  .company {
    border-bottom: 1px solid rgba(164, 164, 164, 0.3);
    border-right: 0;
    width: 50%;
  }

  .company11, .company12 {
    border-bottom: 0;
  }

  .company1, .company3, .company5, .company7, .company9, .company11 {
    border-right: 1px solid rgba(164, 164, 164, 0.3);
  }
}

@media screen and (max-width: 360px) {
  .company11 img, .company12 img {
    width: 120px;
  }
}

/*COFFEE SECTION*/
.coffee-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.coffee-section .grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 25px 0 50px 0;
}

.coffee-banner {
  width: 750px;
  height: 370px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background: url(../images/coffee-banner-bg.png) no-repeat center center;
}

.coffee-banner-desc {
  color: white;
  margin-left: 60px;
  margin-top: 60px;
}

.coffee-banner-desc h3 {
  font-size: 33px;
  font-weight: 900;
  margin-bottom: 15px;
}

.coffee-banner-desc p {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.6;
}

.coffee-slider-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 750px;
  border-bottom: 1px solid rgba(164, 164, 164, 0.3);
  height: 370px;
}

.coffee-content {
  width: 750px;
}

.coffee-slider {
  display: flex;
  flex-direction: row;
}

.coffee-prev::before {
  color: rgb(164, 164, 164);
  content: "\63";
  font-family: "icube-font";
  font-size: 30px;
}

.coffee-prev:hover::before {
  cursor: pointer;
  color: #2f2f2f;
}

.coffee-next::before {
  color: rgba(164, 164, 164, 1);
  content: "\64";
  font-family: "icube-font";
  font-size: 30px;
}

.coffee-next:hover::before {
  cursor: pointer;
  color: #2f2f2f;
}

@media screen and (max-width: 1550px) {
  .coffee-section .grid {
    justify-content: center;
  }

  .coffee-slider-box {
    width: 526px;
  }

  .coffee-content {
    width: 480px;
  }
}

@media screen and (max-width: 1250px) {
  .coffee-section .grid {}

  .coffee-slider-box {
    width: 223px;
  }

  .coffee-content {
    width: 223px;
  }

  .coffee-banner {
    margin-right: 40px;
    margin-bottom: 25px;
  }

  .coffee-section .grid {
    margin: 25px 0 25px 0;
  }
}

@media screen and (max-width: 1030px) {
  .coffee-banner {
    width: 600px;
    background-position: 75%;
  }
}

@media screen and (max-width: 880px) {
  .coffee-banner {
    width: 500px;
    background-position: 55%;
  }
}

@media screen and (max-width: 785px) {
  .coffee-section .grid {
    flex-wrap: wrap;
    width: auto;
    justify-content: center;
    align-items: center;
  }

  .coffee-slider-box {
    border: 0;
    width: 526px;
  }

  .coffee-content {
    width: 526px;
  }

  .coffee-banner {
    margin-right: 0px;
    width: 506px;
    position: relative;
    right: 10px;
  }
}

@media screen and (max-width: 675px) {
  .coffee-banner {
    width: 506px;
    height: 370px;
    background-size: cover;
    background-position: 50% center;
  }

  .coffee-slider-box .buttons {
    right: 10px;
  }

  .coffee-slider-box {
    width: 526px;
  }

  .coffee-content {
    width: 526px;
  }

  .coffee-contnet .product-desc {}
}

@media screen and (max-width: 520px) {
  .coffee-banner {
    width: 325px;
    height: 285px;
    background-size: cover;
    background-position: 50% center;
    right: 0;
  }

  .coffee-slider-box .buttons {
    right: 0;
  }

  .coffee-banner-desc h3 {
    font-size: 25px;
  }

  .coffee-banner-desc p {
    font-size: 18px;
  }

  .coffee-slider-box {
    width: 223px;
  }

  .coffee-content {
    width: 223px;
  }
}

/*TEA SECTION*/
.tea-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tea-section .grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tea-slider-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 1012px;
  border-bottom: 1px solid rgba(164, 164, 164, 0.3);
  height: 370px;
}

.tea-content {
  width: 1052px;
}

.tea-slider .slick-list {
  margin: 0 0px;
}

.tea-slider {
  display: flex;
  flex-direction: row;
}

.tea-banner {
  width: 486px;
  height: 370px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 5;
  background: url(../images/tea-banner-bg.png) no-repeat center center;
}

.tea-prev::before {
  color: rgb(164, 164, 164);
  content: "\63";
  font-family: "icube-font";
  font-size: 30px;
}

.tea-prev:hover::before {
  cursor: pointer;
  color: #2f2f2f;
}

.tea-next::before {
  color: rgba(164, 164, 164, 1);
  content: "\64";
  font-family: "icube-font";
  font-size: 30px;
}

.tea-next:hover::before {
  cursor: pointer;
  color: #2f2f2f;
}

@media screen and (max-width: 1550px) {
  .tea-slider-box {
    width: 800px;
  }

  .tea-content {
    width: 800px;
  }

  .tea-section .grid {
    justify-content: center;
  }

  .tea-slider-box {
    border: 0;
  }
}

@media screen and (max-width: 1250px) {
  .tea-section .grid {
    justify-content: center;
  }

  .tea-slider-box {
    width: 526px;
  }

  .tea-content {
    width: 526px;
  }
}

@media screen and (max-width: 1030px) {
  .tea-slider-box {
    width: 263px;
  }

  .tea-content {
    width: 263px;
  }

  .tea-banner {
    margin-left: 0px;
  }
}

@media screen and (max-width: 785px) {
  .tea-section .grid {
    flex-wrap: wrap-reverse;
    width: auto;
  }

  .tea-banner {
    margin-bottom: 25px;
  }

  .tea-slider-box {
    width: 526px;
  }

  .tea-content {
    width: 526px;
  }
}

@media screen and (max-width: 520px) {
  .tea-slider-box {
    width: 263px;
    border-bottom: 0;
  }

  .tea-content {
    width: 263px;
  }

  .tea-banner {
    width: 325px;
    height: 325px;
    background-size: cover;
  }

  .coffee-banner-desc {
    color: white;
    margin-left: 25px;
    margin-top: 25px;
  }
}

/*INFO SECTION*/
.info-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.info-section .grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.info-box {
  margin: 50px 0;
}

@media screen and (max-width: 1550px) {
  .info-section .grid {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 0px 0;
  }

  .info-box {
    width: 200px;
    margin: 50px 25px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 1270px) {
  .info-section .grid {
    transform: scale(.9);
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 1100px) {
  .info-section .grid {
    transform: scale(.8);
  }
}

@media screen and (max-width: 950px) {
  .info-section .grid {
    transform: scale(1);
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
  }

  .info-box-4 {
    display: none;
  }

  .info-box {
    margin: 25px 25px;
  }
}

@media screen and (max-width: 520px) {
  .info-box-4 {
    display: block;
  }
}

/*AD SECTION*/
.ad-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ad-section .grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 75px;
}

.left-box {
  display: flex;
  flex-direction: row;
  height: 785px;
  width: 486px;
  background: url(../images/ad-blog-bg.png) no-repeat center center;
}

.blog-text {
  color: #fff;
  margin: 50px;
}

.blog-text h3 {
  font-size: 33px;
  font-weight: 900;
}

.blog-text p {
  font-size: 22px;
  font-weight: 300;
  color: #fff;
}

.mid-box {
  height: 785px;
  width: 486px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.ad1 {
  background: url(../images/ad-1.png) no-repeat center center;
  transition: transform 0.3s, all 0.3s ease;
}

.ad-desc {
  color: #cccccc;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  margin: 25px;
}

.ad2 {
  background: url(../images/ad-2.png) no-repeat center center;
  transition: transform 0.3s, all 0.3s ease;
}

.right-box {
  height: 785px;
  width: 486px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.ad3 {
  background: url(../images/ad-3.png) no-repeat center center;
  transition: transform 0.3s, all 0.3s ease;
}

.ad4 {
  background: url(../images/ad-4.png) no-repeat center center;
  transition: transform 0.3s, all 0.3s ease;
}

.ad {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 486px;
  height: 372px;
  overflow: hidden;
}

.ad-header h3 {
  color: #fff;
  margin: 0 25px;
  padding: 25px 0;
  font-size: 18px;
  font-weight: 300;
  border-bottom: 1px solid #cccccc;
}

.ad-content {
  position: relative;
  top: 230px;
  transition: transform 0.3s, all 0.3s ease;
}

.ad1:hover, .ad2:hover, .ad3:hover, .ad4:hover {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .5);
  transition: transform 0.3s, all 0.3s ease;
}

.ad:hover .ad-content {
  top: 0;
  transition: transform 0.3s, all 0.3s ease;
}

@media screen and (max-width: 1560px) {
  .ad-section .grid {
    transform: scale(.9);
    margin-bottom: 0px;
  }

  .ad-section {
    height: 715px;
  }

  .mid-box {
    margin: 0 40px;
  }
}

@media screen and (max-width: 1400px) {
  .ad-section .grid {
    transform: scale(.8);
  }

  .ad-section {
    height: 650px;
  }
}

@media screen and (max-width: 1250px) {
  .ad-section .grid {
    transform: scale(.7);
  }

  .ad-section {
    height: 550px;
  }
}

@media screen and (max-width: 1100px) {
  .ad-section .grid {
    transform: scale(.6);
  }

  .ad-section {
    height: 525px;
  }
}

@media screen and (max-width: 945px) {
  .ad-section .grid {
    transform: scale(.8);
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: auto;
    margin: 25px 0;
    position: relative;
    bottom: 125px;
  }

  .mid-box {
    position: relative;
    margin: 0 20px;
    left: 20px;
  }

  .right-box {
    flex-direction: row;
    width: 1012px;
    height: 400px;
  }

  .ad-section {
    height: 1000px;
  }
}

@media screen and (max-width: 835px) {
  .ad-section .grid {
    transform: scale(.7);
  }

  .ad-section {
    height: 900px;
  }
}

@media screen and (max-width: 730px) {
  .ad-section .grid {
    transform: scale(1);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
  }

  .ad-section {
    height: auto;
  }

  .mid-box {
    margin: 20px 0px;
    left: 0px;
  }

  .right-box {
    flex-direction: column;
    height: 785px;
    width: 486px;
  }
}

@media screen and (max-width: 520px) {
  .ad-section .grid {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .ad {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
  }

  .ad1, .ad2, .ad3, .ad4 {
    background-size: cover;
  }

  .left-box, .mid-box {
    left: 0px;
  }

  .ad-content {
    top: 210px;
  }

  .ad-desc {
    color: #cccccc;
    font-size: 13px;
    font-weight: 300;
    line-height: 15px;
    margin: 20px;
  }

  .mid-box, .right-box {
    justify-content: center;
    height: auto;
    align-items: center;
  }

  .left-box {
    width: 300px;
    height: 450px;
    justify-content: center;
    background-size: cover;
    margin-bottom: 15px;
  }

  .blog-text {
    margin: 30px 15px;
    text-align: center;
  }

  .right-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
}

/*shop-info-SECTION*/
.shop-info-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.shop-info-section .grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.company-info-box {
  width: 486px;
  height: 199px;
  background-color: rgb(242, 242, 242);
  display: flex;
  flex-direction: column;
}

.company-info-box-header {
  border-bottom: 2px solid rgba(183, 183, 183, 0.3);
  padding: 15px 25px;
}

.company-info-box-header h3 {
  color: #111213;
  font-size: 16px;
}

.company-info-box-content {
  display: flex;
  flex-direction: row;
}

.company-info-box-content ul {
  padding: 15px 25px;
}

.company-info-box-content li {
  list-style: none;
  color: #111213;
  font-size: 14px;
  margin-bottom: 15px;
}

.company-info-box-content .left-list {
  width: 243px;
}

.shop-info-section .box2 li::before, .shop-info-section .box3 li::before, .shop-info-section .box4 .content-right li::before {
  content: "\74";
  font-family: "icube-font";
  position: relative;
  top: 2px;
  padding-right: 4px;
  transition: transform 0.3s, all 0.3s ease;
}

.shop-info-section .box2 li:hover::before, .shop-info-section .box3 li:hover::before, .shop-info-section .box4 li:hover::before {
  color: #d91f50;
  transition: transform 0.3s, all 0.3s ease;
}

.number::before {
  content: "\66";
  font-family: "icube-font";
  position: relative;
  top: 2px;
  padding-right: 2px;
  color: #d91f50;
  transition: transform 0.3s, all 0.3s ease;
}

.mail::before {
  content: "\3c";
  font-family: "icube-font";
  position: relative;
  top: 2px;
  padding-right: 3px;
  color: #d91f50;
  transition: transform 0.3s, all 0.3s ease;
}

.number:hover::before, .mail:hover::before {
  color: black;
  transition: transform 0.3s, all 0.3s ease;
}

.shop-info-section .box1 .company-info-box-content .right-list li {
  margin-bottom: 10px;
}

.facebook::before {
  content: "\6a";
  font-family: "icube-font";
  font-size: 20px;
  position: relative;
  top: 2px;
  padding-right: 5px;
  transition: transform 0.3s, all 0.3s ease;
}

.youtube::before {
  content: "\e00d";
  font-family: "icube-font";
  font-size: 20px;
  position: relative;
  top: 2px;
  padding-right: 5px;
  transition: transform 0.3s, all 0.3s ease;
}

.instagram::before {
  content: "\60";
  font-family: "icube-font";
  font-size: 20px;
  position: relative;
  top: 2px;
  padding-right: 5px;
  transition: transform 0.3s, all 0.3s ease;
}

.facebook:hover::before, .youtube:hover::before, .instagram:hover::before {
  color: #d91f50;
  transition: transform 0.3s, all 0.3s ease;
}

.box4 {
  display: none;
}

@media screen and (max-width: 1560px) {
  .shop-info-section {
    transform: scale(.9);
  }

  .box2 {
    margin: 0 40px;
  }
}

@media screen and (max-width: 1400px) {
  .shop-info-section {
    transform: scale(.8);
  }
}

@media screen and (max-width: 1250px) {
  .shop-info-section {
    transform: scale(.7);
  }
}

@media screen and (max-width: 1100px) {
  .shop-info-section {
    transform: scale(.6);
  }
}

@media screen and (max-width: 945px) {
  .shop-info-section {
    transform: scale(1);
  }

  .shop-info-section .grid {
    flex-direction: column;
    justify-content: center;
  }

  .box1, .box2, .box3 {
    display: none;
  }

  .box4 {
    display: flex;
    width: 809px;
  }

  .box4 .content-left .right-list {
    padding-top: 39px;
  }

  .box4 .content-left .right-list li {
    margin-bottom: 10px;
  }

  .box4 .content-left .left-list {
    padding: 15px 10px 15px 20px;
    width: 215px;
  }

  .box4 .content-right .left-list, .box4 .content-right .right-list {
    display: flex;
    flex-direction: row;
    width: auto;
    padding: 0;
    justify-content: center;
    text-align: center;
  }

  .box4 .content-right a {
    font-size: 12px;
  }

  .box4 .content-right .left-list li, .box4 .content-right .right-list li {
    padding: 0 1px;
  }

  .box4 .content-right {
    margin: 15px 50px;
  }

  .box4 .content-right li::before {
    left: 3px;
  }
}

@media screen and (max-width: 835px) {
  .shop-info-section {
    transform: scale(.87);
  }
}

@media screen and (max-width: 730px) {
  .shop-info-section {
    transform: scale(.65);
  }
}

@media screen and (max-width: 620px) {
  .shop-info-section {
    transform: scale(1);
  }

  .box4 {
    display: none !important;
  }

  .company-info-box {
    width: 350px;
    height: 360px;
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .company-info-box-content .left-list {
    width: auto;
  }

  .left-list {
    padding: 0;
  }

  .right-list {
    padding: 0;
  }

  .company-info-box-content {
    flex-direction: column;
    width: 225px;
  }

  .box3 {
    height: 320px;
  }
}

@media screen and (max-width: 520px) {
  .shop-info-section .grid {
    transform: scale(.85);
  }

  .shop-info-section {
    height: 900px;
  }
}

/*COPYRIGHTS*/
.copyrights {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.copyrights .grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 35px 0;
}

.copyrights .grid h3 {
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.copyrights .grid .lovecoffee-logo {
  margin-right: 5px;
}

@media screen and (max-width: 1560px) {
  .copyrights .grid {
    transform: scale(.9);
  }
}

@media screen and (max-width: 600px) {
  .copyrights .grid .icube {
    text-align: center;
  }

  .copyrights .grid h3 {
    margin-bottom: 10px;
  }

  .copyrights h3 {
    margin: 0;
  }

  .copyrights .grid {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
  }

  .copyrights .grid h3.lovecoffee-logo {
    transform: scale(.9);
  }
}

@media screen and (max-width: 450px) {
  .copyrights .grid h3 {
    font-size: 9px;
  }

  .copyrights .grid h3 .lovecoffee-logo {
    transform: scale(.7);
    padding-right: 1px;
  }

  .copyrights .grid {
    margin: 10px 0;
  }
}
